@font-face {
  font-family: 'punk2';
  src: url('/assets/punk2.ttf');
}

@font-face {
  font-family: 'punk4';
  src: url('/assets/punk4.ttf');
}

* {
  margin: 0;
  /* background-color: Black; */
}
body {
  padding: 0;
  background-color: Black;
  overflow-x: hidden;
}
