@font-face {
  font-family: 'punk2';
  src: url('/assets/punk2.ttf');
}

@font-face {
  font-family: 'punk4';
  src: url('/assets/punk4.ttf');
}

:root {
  --yellow-bg-color: #FFE469;
  --orange-bg-color: #CD4D39;
  --blue-bg-color: #1C3CFF;
}

* {
  margin: 0;
}
body {
  padding: 0;
  background-color: Black;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.textured-section {
  background-color: var(--section-background, #eee8dc);

  background-image: url('/assets/paper-background.png');
  background-position: top center;

  /*
   * Primeiro valor: horizontal.
   * Segundo valor: vertical.
   */
  background-repeat: no-repeat repeat;

  /*
   * Ocupa toda a largura e mantém a proporção.
   * A repetição começa após a altura proporcional da imagem.
   */
  background-size: 100% auto;

  background-blend-mode: multiply;
}

